/*background-image: url('./images/logo.avif'); 
background-position: center; 
background-size: 100%;*/

#navBar {
    display: flex;
    flex-direction: row;
    margin: 0px 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
  }
  #navBar h1 {
    width: 25%;
    font-weight: 500;
  }
  #navigation {
    display: flex;
    width: 25%;
    align-items: center;
    justify-content: space-evenly;
  }
   ul {
    cursor: pointer;
    list-style-type: none;
  }
  #footer {
    display: flex;
    width: 40%;
    align-items: center;
    flex-direction: row;
    margin: 0px 5%;
    
  }
  .column {
    flex: 33.33%;
    padding: 5px;
  }
  